.mapRow {
  margin: 0px;
  padding: 0px;
}

.mapCell {
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: 15px;
  text-align: center;
  vertical-align: center;
}

.emptySpace {
  background-color: black;
}

.filledSpace {
  background-color: grey;
}