html
  head
    title= 'Starmourn Map'
    link(rel='stylesheet', href='/css/map-data.css')
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.7.1/svg.min.js')
    script(src='https://unpkg.com/tippy.js@3/dist/tippy.all.min.js')


    script(src='/js/honeycomb.min.js')
    script(src='/js/scale.js')
    script(src='/js/stars.js')

    script(src='/js/schema.js')

    script(src='/js/map-const.js')
    script(src='/js/map-render.js')
  body(style={'background-color': '#1b1c1e;'})
    nav(class='navbar navbar-dark bg-dark fixed-top')
      a(class='navbar-brand' href='#') Starmourn Map
    div(class='container-fluid', id='loading')
      div(class='text-center')
        div(class='spinner-grow m-5 text-light', role='status', style='width: 5rem; height: 5rem;')
          span(class='sr-only') Loading...
    div(class='container-fluid', id='map-container')
      div(id='map')
    div(class='container-fluid', id='map-key')
      div(class='row')
        div(class='col-md-2')
          div(class='card text-white bg-dark mb-3')
            div(class='card-header') Toggles
            div(class='card-body')
              form(id='toggles')
                div(class='form-group form-check')
                  input(type='checkbox', class='form-check-input', id='cosmpiercersToggle')
                  label(class='form-check-label', for='cosmpiercersToggle') Show Cosmpiercers
                div(class='form-group form-check')
                  input(type='checkbox', class='form-check-input', id='voidgatesToggle')
                  label(class='form-check-label', for='voidgatesToggle') Show Voidgates
                div(class='form-group form-check')
                  input(type='checkbox', class='form-check-input', id='regionsToggle')
                  label(class='form-check-label', for='regionsToggle') Show Regions

    div(class='container-fluid')
      div(class='modal fade', id='editor', tabindex='-1', role='dialog', aria-hidden='true')
        div(class='modal-dialog modal-xl', role='document')
          div(class='modal-content')
            div(class='modal-header')
              h5(class='modal-title', id='pointHeader')
            div(class='modal-body', id='pointData')
            div(class='modal-footer')
              button(type='button', class='btn btn-secondary', data-dismiss='modal') Close
              button(type='button', class='btn btn-primary', id='save', style='display: none;', onClick='savePoint()') Save