body {
    padding-top: 5rem;
    background-color: #1b1c1e;
}

@font-face {
    font-family: "Casanova Scotia";
    src: url(../fonts/Casanova_Scotia.otf) format("truetype");
}

.container {
    margin-top: auto;
    margin-bottom: auto;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#stream {
    font-family: "Courier New";
    font-size: 0.8em;
    color: white;
    white-space: pre;
    line-height: 1;
}